@model MTD.Models.AccountModel
@using MTD.Helpers
@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
@section MainContent{
    <link href="../../Assets/css/jquery.simple-dtpicker.css" rel="stylesheet" type="text/css" />
    <script src="../../Assets/js/jquery.simple-dtpicker.js" type="text/javascript"></script>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active red bigger-120">Quản lý thành viên</li><li class="active red bigger-120">
                        Danh sách tài khoản</li>
                </ul>
                <!-- /.nav-search -->
                <div class="nav-search">
                    @using (Html.BeginForm("ListAccount", "User", FormMethod.Get))
                    {
                        <span class="input">
                            <input type="checkbox" class="ace input-lg" id="Condition_disableDel" name="Condition.disableDel" checked="@Model.Condition.disableDel" onchange="this.form.submit()" />
                            <label class="lbl bigger-120" for="Condition_disableDel">
                                Ẩn tài khoản bị xóa</label>
                            <input type="hidden" name="Condition.disableDel" value="false" />
                        </span>
                    
                        <span class="input-icon">
                            @Html.DropDownListFor(m => m.Condition.state, new SelectList(Model.ListState, "Value", "Text", Model.Condition.state), new { @onchange = "this.form.submit()" })
                        </span>
                        <span class="input-icon">
                            @Html.DropDownListFor(m => m.Condition.role, new SelectList(Model.ListRole, "Value", "Text", Model.Condition.role), new { @onchange = "this.form.submit()" })
                        </span>
                        @*<span class="input-icon input-icon-right fetched-date">
						    @Html.TextBoxFor(m => m.Condition.regis_date_from, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", @placeholder = "Ngày đăng ký (từ..)", @data_date_format = "dd/mm/yyyy", @onchange = "this.form.submit()" })
                            <i class="ace-icon fa fa-calendar bigger-110"></i>
                        </span>
                        <span class="input-icon input-icon-right fetched-date">
						    @Html.TextBoxFor(m => m.Condition.regis_date_to, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", @placeholder = "Ngày đăng ký (đến..)", @data_date_format = "dd/mm/yyyy", @onchange = "this.form.submit()" })
                            <i class="ace-icon fa fa-calendar bigger-110"></i>
                        </span>*@
                        <span class="input-icon">
                            @Html.TextBoxFor(m => m.Condition.key, new { @class = "nav-search-input", @placeholder = "username, email", @onchange = "this.form.submit()" })
                            <i class="ace-icon fa fa-search nav-search-icon"></i></span>
                    }
                </div>
            </div>
            <div class="page-content">
                @using (Html.BeginForm("ListAccount", "User", FormMethod.Get))
                {
                    <div class="page-header" style="display: flex;">
                        <a href="javascript:void(0);" onclick="window.location.reload()" class="btnDefine btn btn-default">
                            <i class="fa fa-refresh green m-xxs"></i>Cập nhật 
                        </a>&nbsp; 
                        <a href="@Url.Action("Create", "User")" id="" class="btnDefine btn btn-default">
                            <i class="fa fa-plus blue m-xxs"></i>Tạo mới 
                        </a>&nbsp; 
                        <a href="javascript:void(0);" id="btnDelMulti" class="btnDefine btn btn-default">
                            <i class="fa fa-trash-o red m-xxs"></i>Xóa 
                        </a>
                        <div style="right: 22px; position: absolute; line-height: 24px;">
                            <table>
                                <tr>
                                    <td style="background-color: lightcoral; width: 50px;">
                                        &nbsp;
                                    </td>
                                    <td>
                                        Tài khoản bị xóa
                                    </td>
                                    <td style="width: 20px;">
                                    </td>
                                    <td style="background-color: lightyellow; width: 50px;">
                                        &nbsp;
                                    </td>
                                    <td>
                                        Trạng thái: không hoạt động
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div id="modal-table" class="modal fade" tabindex="-1">
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    <input type="checkbox" class="ace input-lg" id="chkAll"/>
                                                    <label class="lbl bigger-120" for="chkAll">
                                                    </label>
                                                </th>
                                                <th>
                                                    Username
                                                </th>
                                                <th style="max-width: 120px">
                                                    Email
                                                </th>
                                                <th style="max-width: 120px">
                                                    Ngày đăng ký
                                                </th>
                                                <th style="min-width: 120px">
                                                    Trạng thái hoạt động
                                                </th>
                                                <th>
                                                    Quyền hạn
                                                </th>
                                                <th>
                                                    Chức năng
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.ListAccount.Count > 0)
                                            {
                                                for (int i = 0; i < Model.ListAccount.Count; i++)
                                                {
                                                    var account = Model.ListAccount[i];
                                                <tr style="background-color: @(account.Del_Flag ? "lightcoral" : account.State == 0 ? "lightyellow" : "")">
                                                    <td class="center">
                                                        <input type="checkbox" class="ace input-lg chk-item" value="@account.Id"/>
                                                        <label class="lbl bigger-120">
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("PersonalInformation", "User", new { @Id = 0, @AccountId = @account.Id })">@account.UserName</a>
                                                    </td>
                                                    <td>
                                                        <label>
                                                            @account.Email</label>
                                                    </td>
                                                    <td>
                                                        <label>@account.Register_Date</label>
                                                    </td>
                                                    <td>
                                                        <label>
                                                            <input type="checkbox" name="Status" value="true" id="Status" @(account.State == 1 ? "checked" : "") class="ace ace-switch ace-switch-3" onclick="return false;" />
                                                            <span class="lbl"></span>
                                                            <input name="lstUser[@(i)].Status" type="hidden" value="false" />
                                                        </label>
                                                    </td>
                                                    <td style="width: 20%">
                                                        @account.RoleText
                                                    </td>
                                                    <td>
                                                        @if (account.Del_Flag)
                                                        {
                                                            <a href="javascript:void(0);" data-id="@account.Id" class="btn btn-default recovery-account">
                                                                <i class="fa fa-undo blue m-xxs"></i>Phục hồi</a> 
                                                        }
                                                        else
                                                        {
                                                            <a href="javascript:void(0);" data-id="@account.Id" class="btn btn-default delete-account">
                                                                <i class="fa fa-trash-o red m-xxs"></i>Xóa</a> 
                                                        }
                                                        <a href="@Url.Action("UpdateAccount", "User", new { @Id = account.Id })" id="btnEdit" class="btnDefine btn btn-default">
                                                            <i class="fa fa-edit blue m-xxs"></i>Sửa</a> <a href="@Url.Action("PersonalInformation", "User", new { @Id = 0, @AccountId = @account.Id })" id="btnDetail" class="btnDefine btn btn-default">
                                                                <i class="fa fa-info-circle blue m-xxs"></i>Thông tin cá nhân</a>
                                                    </td>
                                                </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="7">@Configs.ERROR_NOT_DATA
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @Html.Partial("_PagingPartial")
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
//        $(function () {
//            $('.fetched-date input').datepicker({
//                dateFormat: 'dd-mm-yy',
//                minDate: '+5d',
//                changeMonth: true,
//                changeYear: true,
//                altFormat: "yy-mm-dd",
//                autoclose: true
//            });
//        });

        // Thay đổi trạng thái của checkbox
        $("#chkAll").click(function () {
            $(".chk-item").prop('checked', $(this).prop('checked'));
        });

        function UpdateForRow(id) {
            $("#selectedUser" + id).attr("checked", true);
        }

        $('#btnDelMulti').click(function () {
            var numberUserChecked = $('input.chk-item:checked').length;
            if (numberUserChecked > 0) {
                var arrUser = [];
                $('input.chk-item:checked').each(function () {
                    arrUser.push($(this).val());
                });
                if (confirm('@Html.Raw(Configs.CONFIRM_DELETE_ACCOUNTS)')) {
                    $.ajax({
                        url: '@Url.Action("DeleteMultiple", "User")',
                        data: JSON.stringify({ usersDelete: arrUser }),
                        contentType: 'application/json; charset=utf-8',
                        type: 'POST',
                        dataType: 'json',
                        async: false
                    })
                    .success(function (result) {
                        if (result > 0) {
                            alert('@Html.Raw(Configs.SUCCESS_DELETE)');
                        } else {
                            alert('@Html.Raw(Configs.ERROR_DELETE)');
                        }
                        window.location.reload(false);
                    })
                    .error(function (xhr, status) {
                        alert(status);
                    });
                }
            } else {
                alert('@Html.Raw(Configs.ALERT_NOT_CHOICE)');
            }
        });

        // Xử lý xóa tài khoản.
        $('.delete-account').click(function () {
            var accountId = $(this).attr("data-id");
            if (confirm('@Html.Raw(Configs.CONFIRM_DELETE_ACCOUNTS)')) {
                $.ajax({
                    url: '@Url.Action("DeleteAccount", "User")',
                    data: JSON.stringify({ Id: accountId }),
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    dataType: 'json',
                    async: false
                })
                .success(function (result) {
                    if (result > 0) {
                        alert('@Html.Raw(Configs.SUCCESS_DELETE)');
                    } else {
                        alert('@Html.Raw(Configs.ERROR_DELETE)');
                    }
                    window.location.reload(false);
                })
                .error(function (xhr, status) {
                    alert(status);
                });
            }
        });

        // Xử lý khôi phục tài khoản
        $('.recovery-account').click(function () {
            var accountId = $(this).attr("data-id");
            $.ajax({
                url: '@Url.Action("RecoveryAccount", "User")',
                data: JSON.stringify({ Id: accountId }),
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                dataType: 'json',
                async: false
            })
                .success(function (result) {
                    if (result > 0) {
                        alert('@Html.Raw(Configs.SUCCESS_RECOVERY)');
                    } else {
                        alert('@Html.Raw(Configs.ERROR_RECOVERY)');
                    }
                    window.location.reload(false);
                })
                .error(function (xhr, status) {
                    alert(status);
                });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('.date-picker').appendDtpicker({
                "inline": true,
                "dateOnly": true,
                "dateFormat": "DD/MM/yyyy",
                "closeOnSelected": true,
                "autodateOnStart": false
            });
        });
		</script>
}
