@{
    int tabId = TempData["TabId"] == null ? 0 : (int)TempData["TabId"];
    List<SelectListItem> listDictType = ViewBag.ListDictTypeGlobal;
}

<div id="sidebar" class="sidebar h-sidebar navbar-collapse collapse ace-save-state">
    <ul class="nav nav-list">
        <li class="hover @(tabId == 0?"active open":"")">
            <a href="@Url.Action("Index","Words")">
                <span class="menu-text">Trang chủ </span>
            </a></li>
        @if (listDictType.Count > 0)
        {
            foreach (var item in listDictType)
            {
                <li class="hover @(tabId == int.Parse(item.Value) ? "active open" : "")">
                    <a href="@Url.Action("Index", "Words", new { @DictType = item.Value })" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle disabled ">
                        <span class="menu-text">@item.Text</span>
                    </a>
                </li>
            }
        }
        
        <li class="hover @(tabId == 98 ? "active open" : "")"><a href="widgets.html"><span class="menu-text">Hỏi đáp </span></a></li>
        <li class="hover @(tabId == 99 ? "active open" : "")"><a href="widgets.html"><span class="menu-text">Liên hệ </span></a></li>
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".dropdown-toggle").click(function () {
            var url = $(this).attr("href");
            $(location).attr('href', url);
        });
    }); 
</script>